@use "sass:math";

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$blur: 0.9;
$blur-ex: 0.7;

$btn-search-side: 36px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  @include flex(null, center, null);
}
.justify-around {
  @include flex(null, space-around, null);
}

.align-center {
  @include flex(null, null, center);
}

.flex-center {
  @include flex(null, center, center);
}

.invisible {
  visibility: hidden;
}

.txt-jumbo {
  font-size: 6rem;
}
.txt-subjumbo {
  font-size: 3rem;
}
.txt-topic-local {
  font-size: 2rem;
}
.container {
  // width: 100vw;
  // height: 100vh;
  color: #fff;
  text-align: center;
  @include flex(column, center, center);
}

.header {
  width: 100%;
  height: 100vh;
  @include flex(column, center, center);
}

.triangle-area {
  position: relative;
  width: 100%;
  height: 20rem;
}
.triangles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 4rem;
}
.triangle {
  position: absolute;
  /* line-height: 4rem; */
  width: 100%;
}
.triangle:nth-of-type(1) {
  transform: translateX(-50%) rotate(-60deg) translateY(-8rem);
}
.triangle:nth-of-type(2) {
  transform: translateX(-50%) rotate(60deg) translateY(-8rem);
}
.triangle:nth-of-type(3) {
  transform: translateX(-50%) translateY(5rem);
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.video {
  width: 100%;
  height: 100%;
}

.data-area {
  // width: 100%;
  margin: 3rem;
}

.dashboard-area {
  @include flex(column, center, center);
}
.dashboards {
  @include flex(null, space-around, center);
  opacity: $blur;
}
.dashboard {
  // line-height: calc(5rem - 50%);
  width: 15rem;
  height: 6rem;
  margin: 1rem;
  border-radius: 15px;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.dashboard-confirmed {
  background-color: rgb(255, 193, 78);
}
.dashboard-recovered {
  background-color: rgb(132, 216, 115);
}
.dashboard-deaths {
  background-color: rgb(255, 91, 91);
}

.dropdown-area {
  position: relative;
  margin: 1rem;
  // @include flex(null, center, center);
}
.dropdown {
  display: inline-block;
  opacity: $blur-ex;
}

.btn-search {
  position: absolute;
  padding-left: 0.7 * $btn-search-side;
  margin-left: 3rem;
  width: 10rem;
  height: 100%;
  overflow: hidden;
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: 1.2rem;
  opacity: $blur-ex;
}
.btn-search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: $btn-search-side;
  height: $btn-search-side;
  transform: translateX(-50%) rotate(45deg);
}
.btn-search-green::before {
  background-color: green;
}
.btn-search-red::before {
  background-color: red;
}

.input {
  width: 15rem;
  padding: 0.5rem;
  border-radius: 25px;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
}
.input::-webkit-calendar-picker-indicator {
  display: none;
}
.input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.input-green:focus {
  border-color: green;
}
.input-red:focus {
  border-color: red;
}
