@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  @include flex(null, center, null);
}
.justify-around {
  @include flex(null, space-around, null);
}

.align-center {
  @include flex(null, null, center);
}

.flex-center {
  @include flex(null, center, center);
}

.invisible {
  visibility: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  @include flex(column, center, center);
}

.header {
  margin: auto 2rem;
}
.txt-jumbo {
  font-size: 6rem;
}
.txt-subjumbo {
  font-size: 3rem;
}

.dashboard-area {
  @include flex(column, center, center);
}
.dashboards {
  @include flex(null, space-around, center);
}
.dashboard {
  // line-height: calc(5rem - 50%);
  width: 15rem;
  height: 6rem;
  border-radius: 15px;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.dashboard-confirmed {
  background-color: rgb(255, 193, 78);
}
.dashboard-recovered {
  background-color: rgb(132, 216, 115);
}
.dashboard-deaths {
  background-color: rgb(255, 91, 91);
}
